---
---

<section class="max-w-[769px] w-full mx-auto text-center my-[120px] bg-white">
  <h2 class="text-[40px] font-sans font-bold text-black mb-2">
    Prefer To Talk Right Away?
  </h2>

  <p class="text-[18px] max-w-3xl font-inter mx-auto mb-6">
    Our Consultation Specialists Are Available During Business Hours To Answer Your
    Questions And Help You Get Started Immediately.
  </p>

  <a
    href="tel:+15558743681"
    class="flex items-center justify-center text-gray-800 space-x-2 text-[16px]"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 text-black"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M3 5a2 2 0 012-2h2.6a1 1 0 01.95.68l1.518 4.553a1 1 0 01-.228 1.055L8.83 10.83a16.001 16.001 0 007.12 7.12l1.544-1.544a1 1 0 011.055-.228l4.553 1.518a1 1 0 01.68.95V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
      />
    </svg>
    <span>+1 (555) URGENT-1 (874-3681)</span>
  </a>
</section>
