---
import dataIcon from "../../public/Images/data-icon.png";
import machineIcon from "../../public/Images/machin-icon.png";
import meetingIcon from "../../public/Images/meeting-icons.png";

const services = [
    {
        image: dataIcon,
        title: "Data Analytics",
        description:
            "Advanced statistical analysis and predictive modeling to uncover hidden patterns and forecast future trends.",
    },
    {
        image: machineIcon,
        title: "Machine Learning",
        description:
            "Implement cutting-edge machine learning algorithms to automate decision-making and optimize business processes.",
    },
    {
        image: meetingIcon,
        title: "Custom Solutions",
        description:
            "Need something specific? We create tailored BI solutions designed to meet your unique business requirements.",
    },
];
---

<section>
    <div class="container-xl mb-[120px]">
        <div class="text-center">
            <h2 class="text-[40.83px] font-serif font-bold mb-3">Our Core Services</h2>
            <p
                class="text-[#000000] mb-12 max-w-2xl mx-auto text-[18px] font-inter"
            >
                We provide end-to-end business intelligence solutions to help
                you harness the full potential of your data.
            </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-left">
            {
                services.map((service) => (
                    <div class="rounded-xl px-[38px] py-[44px] shadow-md  bg-[#FAFAFA] text-black transition duration-300 hover:bg-orange-400 hover:text-white hover:shadow-lg group">
                        <img
                            src={service.image.src} 
                            alt={service.title}
                            loading="lazy"
                            class="w-16 h-16 mb-4"
                        />
                        <h3 class="font-bold text-lg mb-2">{service.title}</h3>
                        <p class="text-sm mb-6 font-inter">
                            {service.description}
                        </p>
                        <a
                            href="#"
                            class="font-medium text-orange-400 group-hover:text-white transition-colors duration-300 "
                        >
                            Learn More →
                        </a>
                    </div>
                ))
            }
        </div>
    </div>
</section>
